<mat-card id="card">
  <div id="padre">
    <div id="images">
      <img src="{{ IMAGE_RUNES }}" id="runa" *ngIf="isIniciar" />

      <img src="/assets/archivos/img/runas-gif.gif" id="gif" *ngIf="isGif" />
    </div>
    <div id="btns-box">
      <button mat-raised-button id="btn" (click)="iniciar()" *ngIf="isIniciar">
        Iniciar
      </button>

      <button
        mat-raised-button
        id="btn"
        (click)="detener()"
        *ngIf="isSeleccionar"
      >
        Sleccionar
      </button>
    </div>
    <div id="btn-mas" (click)="openDialog()" *ngIf="isDialog"><p id="p-mas">Ver mas</p></div>
  </div>
</mat-card>
