<mat-card id="{{card}}">
  <div id="{{padre}}">
    <div id="{{images}}">
      <img src="{{ IMAGE_RUNES }}" id="{{runa}}" *ngIf="isIniciar" />

      <img src="/assets/archivos/img/runas-gif.gif" id="{{gif}}" *ngIf="isGif" />
    </div>
    <div id="{{btnsBox}}">
      <button mat-raised-button id="{{btn}}" (click)="iniciar()" *ngIf="isIniciar" disabled= {{isButtonDisable}}>
        Iniciar
      </button>

      <button mat-raised-button id="{{btn}}" (click)="detener()" *ngIf="isSeleccionar">
        Sleccionar
      </button>
    </div>
    <div id="{{btnMas}}" (click)="openDialog()" *ngIf="isDialog"><button mat-button id="p-mas" >Ver mas</button></div>
  </div>
</mat-card>
