<app-nav-var></app-nav-var>
<div class="bkg">
  <p class="title">Tiradas Runicas</p>
  <p class="description">
    Aprendamos como y cuando utilizar cada una de las consultas que TER tiene
    para tí, da clic o selecciona cualquier elemento...
  </p>
  <div class="general">
    <div class="columns">
      <div class="container-one">
        <div class="{{ hexagonClassC }}" (click)="showerSwitch('consejo')">
          <h1><strong>Consejo</strong></h1>
          <h2>1 Runa</h2>
        </div>
        <div class="{{ hexagonClassA }}" (click)="showerSwitch('amplia')">
          <h1><strong>Amplia</strong></h1>
          <h2>5 Runas</h2>
        </div>
      </div>
      <div class="container-two">
        <div class="{{ hexagonClassS }}" (click)="showerSwitch('superficial')">
          <h1><strong>Superficial</strong></h1>
          <h2>3 Runas</h2>
        </div>
        <div class="{{ hexagonClassP }}" (click)="showerSwitch('profunda')">
          <h1><strong>Profunda</strong></h1>
          <h2>Cruz Rúnica</h2>
        </div>
      </div>
    </div>
    <!-- ==============Card de descripción==================== -->
    <mat-card class="mat-card">
      <mat-card-header>
        <mat-card-title *ngIf="consejoItem">Consejo</mat-card-title>
        <mat-card-subtitle *ngIf="consejoItem">1 Runa</mat-card-subtitle>

        <mat-card-title *ngIf="superficialItem">Superficial</mat-card-title>
        <mat-card-subtitle *ngIf="superficialItem">3 Runas</mat-card-subtitle>

        <mat-card-title *ngIf="ampliaItem">Amplia</mat-card-title>
        <mat-card-subtitle *ngIf="ampliaItem">5 Runas</mat-card-subtitle>

        <mat-card-title *ngIf="profundaItem">Profunda</mat-card-title>
        <mat-card-subtitle *ngIf="profundaItem">Cruz Runica</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="aviso">Da click sobre una opción para ver su contenido</p>

        <p *ngIf="consejoItem">
          Esta técnica es la más práctica y sencilla ya que consiste en elegir
          una runa con la finalidad de obtener una visión general de una
          situación. Seleccionar una sola runa puede ayudarte a enfocar de
          manera clara tu pregunta y a obtener una nueva perspectiva. Asimismo,
          la lectura de una sola runa puede emplearse para honrar eventos
          importantes en tu vida como tu cumpleaños, tu boda, primer día de
          trabajo, año nuevo, etc.
        </p>

        <p *ngIf="superficialItem">
          La lectura de las Tres Runas es adecuada para la mayoría de las
          situaciones, salvo las más complejas y prolongadas. Para realizarla,
          es necesario elegir tres Runas, colocándolas de derecha a izquierda.
          La primera Runa, leída desde la derecha, indica la situación actual,
          la segunda Runa sugiere la acción necesaria y la tercera Runa, en la
          izquierda, muestra la nueva situación que se presentará después de
          superar los desafíos.
        </p>

        <p *ngIf="ampliaItem">
          La Lectura de las Cinco Runas permite identificar las características
          de una situación compleja o incierta. Se colocan verticalmente en
          orden descendente cada posición representa: 1.-Perspectiva global.
          2.-Reto. 3.-Acción recomendada. 4.-Sacrificio. 5.-Situación
          evolucionada. Es importante destacar que el término "sacrificio" en la
          cuarta runa no se relaciona con el concepto de dolor o pérdida, sino
          con la necesidad de dejar ir, cambiar o descartar algo para que pueda
          surgir una nueva situación.
        </p>

        <p *ngIf="profundaItem">
          La lectura de la Cruz Rúnica es una herramienta útil para obtener una
          visión más completa de cualquier situación. Se eligen seis Runas que
          se organizan en forma de Cruz Rúnica o Celta. Cada posición representa
          1.- El pasado y detalla los momentos y elementos destacados del pasado
          en relación con el tema consultado. 2.- El presente y muestra la
          situación actual. 3.- El camino que tomará la situación en el futuro.
          4.- Los cimientos del problema consultado, sus partes instintivas y
          las energías que lo originaron. 5.- El reto, señala las dificultades a
          superar. 6.- La nueva situación que surgirá al superar el reto. Debido
          a que la Cruz Rúnica proporciona una gran cantidad de información, es
          recomendable crear un espacio para la reflexión y meditación.
        </p>
      </mat-card-content>
      <mat-card-actions *ngIf="actions">
        <button mat-raised-button (click)="showerSwitch('')" id="btn">
          Cerrar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<app-footer></app-footer>
