* {
  box-sizing: border-box;
}

body {
  border-radius: 60px;
}

.contenedor {
  background-color: #346382;
  background-image: linear-gradient(to right, #1d2945, #646b6d);
  width: 370px;
  height: 530px;
}

.margen {
  padding: 5px;
  width: 45%;
  margin: auto;
}

img {
  margin: 0 auto;
  display: flex;
  width: 120px;
  height: 140px;
  font-size: small;
}

h1 {
  width: 40%;
  margin: auto;
  text-align: center;
}

h3 {
  width: 40%;
  margin: auto;
  text-align: center;
}

p {
  margin: 10px auto;
  text-align: center;
  font-size: x-small;
}

button {
  border-radius: 30px 0 0 30px; 
  padding: 2px;
  position: absolute;
  z-index: 3;
  top: 0px;
  right: .5px;
  //width: 1px;
  //height: 1px;
  background-color: #346382;
}

.descripcion {
  overflow: auto;
  width: 300px;
  height: 230px;
  margin: 15px auto;
}

@media screen and (max-width: 1024px) {
 
  .contenedor {
    background-color: #346382;
    background-image: linear-gradient(to right, #1d2945, #646b6d);
    width: 370px;
    height: 530px;
  }

}

@media screen and (max-width: 426px) {
 
  .contenedor {
    background-color: #346382;
    background-image: linear-gradient(to right, #1d2945, #646b6d);
    width: 320px;
    height: 530px;
  }

}

@media screen and (max-width: 376px) {
 
  .contenedor {
    background-color: #346382;
    background-image: linear-gradient(to right, #1d2945, #646b6d);
    width: 256px;
    height: 600px;
  }

  img {
    margin: 0 auto;
    display: flex;
    width: 90px;
    height: 120px;
    font-size: small;
  }

  h3 {
    width: 60%;
    margin: auto;
    text-align: center;
  }

  h1 {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  p {
    margin: 4px auto;
    text-align: center;
    font-size: xx-small; 
  }

  .descripcion {
    overflow: auto;
    width: 230px;
    height: 280px;
    margin: 15px auto;
  }

}