#body {
    width: 400px;
}

#div {
    text-align: center;
    width: 380px;
    margin: auto;
}

#txt {
    width: 360px;
    text-align: center;
    margin: auto;
    display: flex;
}

#img {
    width: 200px;
    height: 250px;
    margin: auto;
    display: flex;
}

#div-img {
    background-color: black;
}