<p class="section-title">Contacto</p>
<p class="section-description">
  Contactame y conoce más acerca de mi trabajo a través de los siguientes
  enlaces, será un placer atenderte...
</p>
<div class="container-contacto">
  <ul class="contacto">
    <li>
      <div class="elipse" (click)="copy()">
        <img class="icon" src="/assets/archivos/img/icons/icon-whatsapp.png" />
        <p class="link-icon-text">+52 55 3987 5239</p>
      </div>
    </li>
    <li>
      <div class="elipse" (click)="copy()">
        <img class="icon" src="/assets/archivos/img/icons/icon-telegram.png" />
        <p class="link-icon-text">+52 55 3987 5239</p>
      </div>
    </li>
    <li>
      <div class="elipse">
        <a href="https://www.tiktok.com/@duxemm?lang=es" target="_blank">
          <img class="icon" src="/assets/archivos/img/icons/icon-tiktok.png" />
          <p class="icon-text">duxemm</p>
        </a>
      </div>
    </li>
    <li>
      <div class="elipse">
        <a href="https://www.instagram.com/duxemm/" target="_blank">
          <img
            class="icon"
            src="/assets/archivos/img/icons/icon-instagram.png"
          />
          <p class="icon-text">duxemm</p>
        </a>
      </div>
    </li>
  </ul>
  <ul class="contacto-dos">
    <li>
      <div class="elipse">
        <a
          href="https://www.facebook.com/profile.php?id=100089412985345"
          target="_blank"
        >
          <img
            class="icon"
            src="/assets/archivos/img/icons/icon-facebook.png"
          />
          <p class="icon-text">DuxEmm</p>
        </a>
      </div>
    </li>
    <li>
      <div class="elipse">
        <a href="https://twitter.com/duxemm10" target="_blank">
          <img class="icon" src="/assets/archivos/img/icons/icon-twitter.png" />
          <p class="icon-text">duxemm10</p>
        </a>
      </div>
    </li>
    <li>
      <div class="elipse">
        <a href="https://www.reddit.com/user/Duxemm" target="_blank">
          <img class="icon" src="/assets/archivos/img/icons/icon-reddit.png" />
          <p class="icon-text">Duxemm</p>
        </a>
      </div>
    </li>
  </ul>
</div>

<p class="section-title">Servicios</p>
<p class="section-description">
  Acontinuación se describen las consultas, paquetes runicos (PR) y tarifas
  diseñados para ti, con las que tendrás una sesión completa y personalizada:
</p>

<div class="lista-servicios">
  <ul>
    <li class="position-mbl">
      <div class="octagon">
        <p class="octagon-text">Consejo..$50</p>
        <p class="octagon-text">Supericial..$150</p>
        <p class="octagon-text">Amplia..$250</p>
        <p class="octagon-text">Profunda..$300</p>
      </div>
    </li>
    <li class="position-mbl">
      <div class="octagon">
        <p class="octagon-title">PR1....$100</p>
        <p class="octagon-text">Superficial</p>
        <p class="octagon-text">Consejo-Si/No</p>
      </div>
    </li>
    <li class="position-mbl">
      <div class="octagon">
        <p class="octagon-title">PR3....$250</p>
        <p class="octagon-text">Profunda</p>
        <p class="octagon-text">Consejo-Si/No</p>
      </div>
    </li>
    <li class="position-mbl">
      <div class="octagon">
        <p class="octagon-title">PR Especial $800</p>
      </div>
    </li>
  </ul>
  <ul>
    <li class="position-mbl-d">
      <div class="octagon">
        <p class="octagon-title">General....$300</p>
        <p class="octagon-text">Guia</p>
        <p class="octagon-text">Trabajo</p>
        <p class="octagon-text">Amor</p>
        <p class="octagon-text">Salud</p>
        <p class="octagon-text">Consejo</p>
      </div>
    </li>
    <li class="position-mbl-d">
      <div class="octagon">
        <p class="octagon-title">PR2....$200</p>
        <p class="octagon-text">Amplia</p>
        <p class="octagon-text">Consejo</p>
      </div>
    </li>
    <li class="position-mbl-d">
      <div class="octagon">
        <p class="octagon-title">PR4....$300</p>
        <p class="octagon-text">Consulta General</p>
        <p class="octagon-text">3 Preguntas Libres</p>
      </div>
    </li>
    <li class="position-mbl-df">
      <div class="octagon">
        <p class="octagon-title">PR Plus....$2000</p>
      </div>
    </li>
  </ul>
</div>

<div class="section-final">
  <img src="/assets/archivos/img/logo.png" alt="logo " />
  <p class="final-text">Yo soy duxemm y este fue, tú espacio rúnico...</p>
</div>
