<div>
  <div id="card-text">
    <p id="txto">
      **En este apartado encontrarás un simulador que representa la consulta de
      cinco runas. La lectura ofrece una visión global de la cuestión
      presentada. El orden de ejecución y lectura es descendente. Sobre cada runa
      encontrarás el escenario correspondiente.** <br /><br />
      Para más información sobre esta tirada, haz clic aquí.
    </p>
  </div>
  <ul id="ul">
    <li id="li">
      <p id="desc">1.- Situación</p>
      <app-runa-selector [MINUMERO]= NUMDELPADRECERO [MICONSULTA]= CONSULTADELPADRE></app-runa-selector>
    </li>
    <li id="li">
      <p id="desc">2.- Reto</p>
      <app-runa-selector [MINUMERO]= NUMDELPADREUNO [MICONSULTA]= CONSULTADELPADRE></app-runa-selector>      
    </li>
    <li id="li">
      <p id="desc">3.- Acción recomendada </p>
      <app-runa-selector [MINUMERO]= NUMDELPADREDOS [MICONSULTA]= CONSULTADELPADRE></app-runa-selector>      
    </li>
    <li id="li">
      <p id="desc">4.- Sacrificio</p>
      <app-runa-selector [MINUMERO]= NUMDELPADRETRES [MICONSULTA]= CONSULTADELPADRE></app-runa-selector>
    </li>
    <li id="li">
      <p id="desc">5.- Nueva situación</p>
      <app-runa-selector [MINUMERO]= NUMDELPADRECUATRO [MICONSULTA]= CONSULTADELPADRE></app-runa-selector>      
    </li>
  </ul>
</div>
