#ul {
  list-style-type: none;
  text-align: center;
}

#li {
  // display: inline-block;
  margin: 28px 0px;
}

a {
  color: #3c535b;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: #3c535b;
}