<div>
  <ul>
    <li>
      <a href="https://www.tiktok.com/@duxemm?lang=es" target="_blank">
        <img src="/assets/archivos/img/icons/icon-tiktok.png"/>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/duxemm/" target="_blank">
        <img src="/assets/archivos/img/icons/icon-instagram.png"/>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/profile.php?id=100089412985345" target="_blank">
        <img src="/assets/archivos/img/icons/icon-facebook.png"/>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/duxemm10" target="_blank">
        <img src="/assets/archivos/img/icons/icon-twitter.png"/>
      </a>
    </li>
    <li>
      <a href="https://www.reddit.com/user/Duxemm" target="_blank">
        <img src="/assets/archivos/img/icons/icon-reddit.png"/>
      </a>
    </li>
  </ul>
  <ul class="copy-list">
    <li class="copy-list-item">
      <span>&COPY;2023</span>
    </li>
    <li class="copy-list-item">
      <span>#tuespaciorunico</span>
    </li>
    <li class="copy-list-item">
      <span>#duxemm</span>
    </li>
  </ul>
</div>