<mat-toolbar class="design">
  <div id="dp">
    <!-- Redes y contacto -->
    <div style="margin: auto;">
      <ul id="rc">
        <li id="li-rc">
          <img
              src="/assets/archivos/img/icons/tik-tok.png"
              style="width: 20px; height: 20px"
            />
          <a href="https://www.tiktok.com/@duxemm?lang=es" target="_blank">
            duxemm
          </a>
        </li>
        <li id="li-rc">
          <img
              src="/assets/archivos/img/icons/instagram.png"
              style="width: 25px; height: 25px"
            />
          <a href="https://www.instagram.com/duxemm/" target="_blank">
            duxemm
          </a>
        </li>
        <li id="li-rc">
          <img
              src="/assets/archivos/img/icons/facebook.png"
              style="width: 25px; height: 25px"
            />
          <a href="https://www.facebook.com/profile.php?id=100089412985345" target="_blank">            
            Duxemm
          </a>
        </li>
        <li id="li-rc">
          <img
              src="/assets/archivos/img/icons/gorjeo.png"
              style="width: 25px; height: 25px"
            />
          <a href="https://twitter.com/duxemm10" target="_blank">
            @duxemm10
          </a>
        </li>
        <li id="li-rc">
          <img
              src="/assets/archivos/img/icons/reddit.png"
              style="width: 25px; height: 25px"
            />
          <a href="https://www.reddit.com/user/Duxemm" target="_blank">
            Duxemm
          </a>
        </li>
      </ul>
    </div>
    <!-- Copyrigth -->
    <div style="margin: auto;">
      <ul id="cpr">
        <li id="li-cpr">Duxemm</li>
        <li id="li-cpr">#tuespaciorunico</li>
        <li id="li-cpr">
          2023<mat-icon
            aria-hidden="false"
            aria-label="Example copyright icon"
            fontIcon="copyright"
            style="font-size: x-small"
          ></mat-icon>
        </li>
      </ul>
    </div>
  </div>
</mat-toolbar>
