* {
  box-sizing: border-box;
}

div {
  background-color: rgb(115, 118, 129);
  background-image: linear-gradient(#5c8694, #7dbdd2);
  width: 100%; 
}

ul {
  list-style: none;
  margin: auto;
  padding: 5px;
  display: table;  
}

li {
  float: left;
  margin: 10px;
}

img {
  width: 30px;
  height: 30px;
  transition:  .5s;
}

img:hover, img:active {
  transform: translateY(-10px);
}

span {
  color: #fff;
  font-size: large;
}

@media screen and (max-width: 426px) {
  img {
    width: 35px;
    height: 35px;
  }

  .copy-list-item {
    float: none;
    text-align: center;
  }

  span {
    font-size: medium;
  }
  
}