<div id="padre">
  <div id="card-text">
    <p id="txto">
      **En este apartado encontrarás un simulador que representa la consulta de
      1 runa la cuál nos da un consejo sobre cualquier situación.
      Asimismo, esta lectura podría otorgar una respuesta parcial de "Si" (runa común),
      "No" (runa al revés) o "Tal vez" (runa neutral).** <br><br>
      Para más información de esta tirada da clic aquí.
    </p>
  </div>
  <div id="cont">
    <p id="desc">1.- Consejo</p>
    <app-runa-selector></app-runa-selector>
  </div>
</div>
