#cont {
    background-color: #fff;
    margin: 20px auto;
    width: 300px;
    padding: 5px;
}

#txto {
    margin: auto;
    width: 700px;
    text-align: justify;
}

#padre {
    margin: 20px;
}

#card-text {
    width: 900px;
    padding: 20px 0px;
    margin: auto;
    display: flex;
}