#cont {
    background-color: #fff;
    margin: 20px auto;
    width: 300px;
    padding: 5px;
}

#padre {
    margin: 20px;
}

@media screen and (max-width: 769px) {
    #padre {
        width: auto;
    }
  
}

@media screen and (max-width: 320px) {
    #padre {
        width: auto;
    }

    #cont {
        width: 100%;
    }
  
}