#ul {
  list-style-type: none;
  text-align: center;
}

#li {
  display: inline-block;
  margin-right: 50px;
}

#txto {
    margin: auto;
    width: 700px;
    text-align: justify;
}

#card-text {
    width: 900px;
    padding: 20px 0px;
    margin: auto;
    display: flex;
}