<div>
  <div id="card-text">
    <p id="txto">
      **Para poder hacer una lectura es necesario me proporciones tu nombre
      completo y que tengas la mente enfocada en tu pregunta o cuestión
      (repítela varias veces), una vez esto procedo a realizar la lectura, de
      esa forma conectamos y podrás obtener una respuesta certera o necesaria.**
    </p>
  </div>
  <div id ="div-list">
    <ul id="ul">
      <li id="li">
        <!-- Runa 3 -->
        <app-runa-selector></app-runa-selector>
      </li>
      <li id="li">
        <!-- Runa 2 -->
        <app-runa-selector></app-runa-selector>
      </li>
      <li id="li">
        <!-- Runa 1 -->
        <app-runa-selector></app-runa-selector>
      </li>
    </ul>
  </div>
  <div id="card-text">
    <p id="txto">
      **Para poder hacer una lectura es necesario me proporciones tu nombre
      completo y que tengas la mente enfocada en tu pregunta o cuestión
      (repítela varias veces), una vez esto procedo a realizar la lectura, de
      esa forma conectamos y podrás obtener una respuesta certera o necesaria.**
    </p>
  </div>
</div>
