#ul {
  list-style-type: none;
  margin: auto;
}

#li {
  margin: 20px 0px;
}

#ul-ll {
    list-style-type: none;
    display: inline-flex;
    margin: auto;
}

#li-ll {
  margin: 15px;
}

#div {
  margin: auto;
}

#div-l3 {
  display: flex;
}
