<div>
  <div id="card-text">
    <p id="txto">
      **Para poder hacer una lectura es necesario me proporciones tu nombre
      completo y que tengas la mente enfocada en tu pregunta o cuestión
      (repítela varias veces), una vez esto procedo a realizar la lectura, de
      esa forma conectamos y podrás obtener una respuesta certera o necesaria.**
    </p>
  </div>
  <div id="div">
    <ul id="ul">
      <li id="li"><app-runa-selector></app-runa-selector></li>
      <li id="li"><app-runa-selector></app-runa-selector></li>
      <li id="li">
        <div id="div-l3">
          <ul id="ul-ll">
            <li id="li-ll"><app-runa-selector></app-runa-selector></li>
            <li id="li-ll"><app-runa-selector></app-runa-selector></li>
            <li id="li-ll"><app-runa-selector></app-runa-selector></li>
          </ul>
        </div>
      </li>
      <li id="li"><app-runa-selector></app-runa-selector></li>
    </ul>
  </div>
</div>
