#ul {
  list-style-type: none;
  margin: auto;
}

#li {
  margin: 20px 0px;
}

#ul-ll {
    list-style-type: none;
    display: inline-flex;
    margin: auto;
}

#li-ll {
  margin: 15px;
}

#div {
  margin: auto;
}

#div-l3 {
  display: flex;
}

a {
  color: #3c535b;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: #3c535b;
}

@media screen and (max-width: 769px) {
  #ul-ll {
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
  }

  #li-ll {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
}