<div>
  <div id="card-text">
    <p id="txto">
      **En esta sección, se ofrece un simulador que representa la consulta de la
      Cruz Celta. Esta lectura brinda una visión honda y detallada de la
      situación que se presenta. Sigue la numeración para la ejecución e
      interpretación. Cada runa tiene asociado un escenario específico.** <br><br>
      Si se deseas obtener más información sobre esta tirada, haz clic aquí.
    </p>
  </div>
  <div id="div">
    <ul id="ul">
      <li id="li">
        <p id="desc">6.- Nueva situaciòn</p>
        <app-runa-selector [MINUMERO]= NUMDELPADRECINCO [MICONSULTA]= CONSULTADELPADRE></app-runa-selector></li>
      <li id="li">
        <p id="desc">5.- Reto</p>
        <app-runa-selector [MINUMERO]= NUMDELPADRECUATRO [MICONSULTA]= CONSULTADELPADRE></app-runa-selector></li>
      <li id="li">
        <div id="div-l3">
          <ul id="ul-ll">
            <li id="li-ll">
              <p id="desc">3.- Futuro</p>
              <app-runa-selector [MINUMERO]= NUMDELPADREDOS [MICONSULTA]= CONSULTADELPADRE></app-runa-selector></li>
            <li id="li-ll">
              <p id="desc">2.- Presente</p>
              <app-runa-selector [MINUMERO]= NUMDELPADREUNO [MICONSULTA]= CONSULTADELPADRE></app-runa-selector></li>
            <li id="li-ll">
              <p id="desc">1.- Pasado</p>
              <app-runa-selector [MINUMERO]= NUMDELPADRECERO [MICONSULTA]= CONSULTADELPADRE></app-runa-selector></li>
          </ul>
        </div>
      </li>
      <li id="li">
        <p id="desc">4.- Cimientos</p>
        <app-runa-selector [MINUMERO]= NUMDELPADRETRES [MICONSULTA]= CONSULTADELPADRE></app-runa-selector></li>
    </ul>
  </div>
</div>
