/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


#txto {
    margin: auto;
    width: 550px;
    text-align: justify;
    font-size: 17px;
    font-family: 'Charm', cursive;
}

#card-text {
    width: 800px;
    padding: 20px 0px;
    margin: auto;
    display: flex;
}

#txto-ap {
    margin: auto;
    width: 550px;
    text-align: justify;
    font-size: x-small;
}

#card-text-ap {
    width: 800px;
    padding: 20px 0px;
    margin: auto;
    display: flex;
}