/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bkg {
  background-image: url("/assets/archivos/img/backgrounds/fondoo.jpg"); 
}

#txto {
  margin: auto;
  width: 100%;
  text-align: justify;
  font-size: 22px;
  font-family: "Charm", cursive;
  line-height: 1.5;
}

#card-text {
  width: 800px;
  padding: 20px 0px;
  margin: auto;
  display: flex;
}

#txto-ap {
  margin: auto;
  width: 100%;
  text-align: justify;
  font-size: 15px;
}

#card-text-ap {
  width: 80%;
  padding: 20px 0px;
  margin: auto;
  display: flex;
}

#desc {
  font-family: "Charm", cursive;
  margin: 8px auto;
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 769px) {
  #card-text-ap {
    width: 100%;
    padding: 20px 0px;
    margin: auto;
    display: flex;
  }

  #txto-ap {
    margin: auto;
    width: 90%;
    text-align: justify;
    font-size: 12px;
  }

  #card-text {
    width: 100%;
    padding: 20px 0px;
    margin: auto;
    display: flex;
  }

  #txto {
    width: 90%;
  }
}

@media screen and (max-width: 426px) {
  #card-text-ap {
    width: 100%;
    padding: 20px 0px;
    margin: auto;
    display: flex;
  }

  #txto-ap {
    margin: auto;
    width: 90%;
    text-align: justify;
    font-size: 12px;
  }

  #card-text {
    width: 100%;
    padding: 20px 0px;
    margin: auto;
    display: flex;
  }

  #txto {
    width: 90%;
  }
}

@media screen and (max-width: 376px) {
  #card-text-ap {
    width: 100%;
    padding: 20px 0px;
    margin: auto;
    display: flex;
  }

  #txto-ap {
    margin: auto;
    width: 90%;
    text-align: justify;
    font-size: 12px;
  }

  #card-text {
    width: 100%;
    padding: 20px 0px;
    margin: auto;
    display: flex;
  }

  #txto {
    width: 90%;
  }
}

@media screen and (max-width: 321px) {
  #card-text-ap {
    width: 100%;
    padding: 20px 0px;
    margin: auto;
    display: flex;
  }

  #txto-ap {
    margin: auto;
    width: 90%;
    text-align: justify;
    font-size: 12px;
  }

  #card-text {
    width: 100%;
    padding: 20px 0px;
    margin: auto;
    display: flex;
  }

  #txto {
    width: 90%;
  }
}