/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#txto {
  margin: auto;
  width: 550px;
  text-align: justify;
  font-size: large;
  font-family: "Charm", cursive;
  line-height: 28px;
}

#card-text {
  width: 800px;
  padding: 20px 0px;
  margin: auto;
  display: flex;
}

#txto-ap {
  margin: auto;
  width: 550px;
  text-align: justify;
  font-size: 12px;
}

#card-text-ap {
  width: 80%;
  padding: 20px 0px;
  margin: auto;
  display: flex;
}

#desc {
  font-family: "Charm", cursive;
  margin: 8px auto;
  text-align: center;
  font-size: large;
}

@media screen and (max-width: 769px) {
  #card-text-ap {
    width: 90%;
    padding: 20px 0px;
    margin: auto;
    display: flex;
  }
}

@media screen and (max-width: 426px) {
  #card-text-ap {
    width: 90%;
    padding: 20px 0px;
    margin: auto;
    display: flex;
  }
}
