<mat-card id="card">
  <mat-card-header>
    <mat-card-title id="title">CONSULTAS RUNICAS</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <br /><br />
    <div id="instrucciones-p">
      <div id="instrucciones">
        <p id="rules">Instrucciones</p>
        <p id="rules">
          1.- Formula y mantén en mente la cuestión a presentar sin divagar ni
          distraerte.
        </p>
        <p id="rules">
          2.- Haz clic o presiona el botón de <strong>"Iniciar"</strong>.
        </p>
        <p id="rules">
          3.- Cuando sientas el momento indicado, haz clic o presiona el botón
          <strong>"Seleccionar"</strong> para elegir tu runa. Puedes valerte de
          tu intuición para identificar el momento adecuado.
        </p>
        <p id="rules">
          4.- Para conocer la interpretación y otros detalles de la runa
          seleccionada, haz clic o presiona el botón <strong>"Ver más"</strong>.
        </p>
        <p id="rules">
          5.- Continúa con la siguiente runa según su numeración y repite los
          pasos del punto 2 en adelante.
        </p><br>
        <p id="rules">Que éstos consejos iluminen e inspiren tu proceder.</p>
      </div>
    </div>
    <br />

    <mat-tab-group animationDuration="700ms">
      <mat-tab label="Consejo"
        ><app-consulta-consejo></app-consulta-consejo
      ></mat-tab>
      <mat-tab label="Superficial"
        ><app-consulta-superficial></app-consulta-superficial
      ></mat-tab>
      <mat-tab label="Amplia"
        ><app-consulta-amplia></app-consulta-amplia
      ></mat-tab>
      <mat-tab label="Profunda"
        ><app-consulta-profunda></app-consulta-profunda
      ></mat-tab>
    </mat-tab-group>

    <mat-card-content>
      <div id="card-text-ap">
        <p id="txto-ap">
          Los conceptos de cada runa que se muestran en estas consultas tienen
          un carácter interpretativo. Por lo tanto, pueden ser utilizados como
          referencia o como una simulación de una consulta rúnica real. Si
          deseas una consulta rúnica real, profunda y personalizada, te
          invitamos a que te comuniques a través de los medios establecidos en
          la pestaña de "Contacto" o bien en los medios listados en la parte
          inferior de este sitio web.
        </p>
      </div>
    </mat-card-content>
  </mat-card-content>
</mat-card>

<app-footer></app-footer>
