<mat-card id="card">
  <mat-card-header>
    <mat-card-title id="title">CONSULTAS RUNICAS</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group animationDuration="700ms">
      <mat-tab label="Consejo"
        ><app-consulta-consejo></app-consulta-consejo
      ></mat-tab>
      <mat-tab label="Superficial"
        ><app-consulta-superficial></app-consulta-superficial
      ></mat-tab>
      <mat-tab label="Amplia"
        ><app-consulta-amplia></app-consulta-amplia
      ></mat-tab>
      <mat-tab label="Profunda"
        ><app-consulta-profunda></app-consulta-profunda
      ></mat-tab>
    </mat-tab-group>

    <mat-card-content>
      <div id="card-text-ap">
        <p id="txto-ap">
          Los conceptos de cada runa que se muestran en estas consultas tienen
          un carácter interpretativo. Por lo tanto, pueden ser utilizados como
          referencia o como una simulación de una consulta rúnica real. Si
          deseas una consulta rúnica real, profunda y personalizada, te
          invitamos a que te comuniques a través de los medios establecidos en
          la pestaña de "Contacto" o bien en los medios listados en la parte
          inferior de este sitio web. Será un placer atenderte y
          garantizamos la confidencialidad de tus datos personales.
        </p>
      </div>
    </mat-card-content>
  </mat-card-content>
</mat-card>

<app-footer></app-footer>
