#card {
  width: 60%;
  margin: 15px auto;
}

#title {
  font-family: "Caesar Dressing", cursive;
  color: #3c535b;
  font-size: x-large;
}

#rules {
  font-family: "Charm";
  font-size: large;
  line-height: 25px;
  // text-align: start;
}

#instrucciones-p {
  display: flex;
  width: 100%;
}

#instrucciones {
  margin: auto;
  width: 80%;
  text-align: justify;
}

strong {
  color: #3c535b;
}