* {
  box-sizing: border-box;
}

#card {
  width: 60%;
  margin: 15px auto;
}

#title {
  font-family: "Caesar Dressing", cursive;
  color: #3c535b;
  font-size: x-large;
}

#rules {
  font-family: "Charm";
  font-size: large;
  line-height: 25px;
  // text-align: start;
}

#instrucciones-p {
  display: flex;
  width: 100%;
}

#instrucciones {
  margin: auto;
  width: 80%;
  text-align: justify;
}

strong {
  color: #3c535b;
}

@media screen and (max-width: 769px) {
  #card {
    width: 90%;
  }

  #instrucciones {
    width: 90%;
  }

}

@media screen and (max-width: 426px) {
  #card {
    width: 100%;
  }

  #instrucciones {
    width: 90%;
  }
}