<div class="bkg">
  <p class="titulo">Tu espacio runico</p>

  <div class="gallery">
    <div class="picture">
      <img src="{{ imgBackgroundRoute }}" alt="" />
      <div class="picture-description">
        <mark>{{ textoslide }}</mark>
      </div>
    </div>
    <div class="left-arrow" (click)="previous()"></div>
    <div class="rigth-arrow" (click)="next()"></div>
  </div>

  <div class="container-menu">
    <div class="columna-uno">
      <div class="hexagon-invsible" routerLink="/historia">
        <p class="menu-text">Historia</p>
      </div>
      <div class="hexagon" routerLink="/tiradas">
        <p class="menu-text">Tiradas</p>
      </div>
    </div>
    <div class="columna-dos">
      <div class="hexagon" routerLink="/consultas">
        <p class="menu-text">Consultas</p>
      </div>
      <div class="hexagon" routerLink="/contacto">
        <p class="menu-text">Contacto</p>
      </div>
    </div>
  </div>
</div>
