<div class="contenedor">
  <div class="pointer-l1">
    <p class="title"><strong> Introducción </strong></p>
  </div>
  <div class="pointer-r1">
    <p class="title"><strong>¿Qué son las runas?</strong></p>
  </div>
  <div class="pointer-l2">
    <p class="title"><strong>¿Qué es un oraculo?</strong></p>
  </div>
  <div class="pointer-r2">
    <p class="title"><strong>¿Cómo funcionan las runas?</strong></p>
  </div>
</div>

<div>
  <p class="title"><strong> Introducción </strong></p>
  <p></p>
</div>

<div>
  <p class="title"><strong>¿Qué son las runas?</strong></p>
  <p>
    El término 'runa' tiene como significado enigmático, murmullo o enigma, y se
    emplea como un método de adivinación para comprender situaciones o resolver
    dudas. Este alfabeto ancestral, conocido como Futhark, se compone
    exclusivamente de líneas rectas y cada una de sus letras posee un nombre y
    un sonido significativo. Las runas fueron utilizadas para la poesía,
    inscripciones y adivinación, aunque nunca evolucionaron como lenguaje
    hablado. En la antigüedad, las runas se grababan en madera o hueso, pero hoy
    en día se pueden plasmar en diversos materiales. Sin embargo, se cree que
    hay que tener precaución al elegir el material para evitar influencias
    negativas, como puede ocurrir si se usan cristales o cuarzos. Esta decisión
    queda en manos del portador.
  </p>
</div>

<div>
  <p class="title"><strong>¿Qué es un oraculo?</strong></p>
  <p>
    Para comprender las runas, es esencial comprender qué es y cómo funciona un
    oráculo. El oráculo es una herramienta que proporciona una respuesta divina
    a través de un intermediario, y a veces se manifiesta en señales físicas o
    símbolos que los expertos interpretan. Sin embargo, el oráculo no
    necesariamente proporciona instrucciones específicas ni predicciones
    futuras, sino que dirige la atención hacia los motivos y miedos ocultos que
    moldean el futuro. Al reconocer estas opciones, el oráculo puede mostrar una
    nueva oportunidad o confirmar una alternativa existente.
  </p>
</div>

<div>
  <p class="title"><strong>¿Cómo funcionan las runas?</strong></p>
  <p>
    ¿De qué manera las Runas pueden ser útiles en mi vida diaria? Aunque hay
    varias teorías que han intentado responder a esta pregunta, exploraremos
    algunas posibilidades. Al final, la decisión está en tus manos. Una
    explicación podría ser que las interpretaciones de las Runas son tan
    evocativas que cada una ofrece un consejo aplicable a algún aspecto de
    nuestra conciencia en cualquier momento del día. Sin embargo, mi experiencia
    personal con las Runas ha demostrado que cada lectura es única y contiene
    coincidencias sorprendentes que no pueden ser explicadas solo con esta
    teoría. En mi opinión, estos símbolos al azar pueden ser una forma en que
    nuestro yo superior y sabio nos transmite sus mensajes y consejos,
    recordándonos que la solución a cualquier adversidad se encuentra en nuestro
    interior.
  </p>
</div>

<div>
  <p class="title"><strong>¿Cómo leer las runas?</strong></p>
  <p>
    ¿De qué manera las Runas pueden ser útiles en mi vida diaria? Aunque hay
    varias teorías que han intentado responder a esta pregunta, exploraremos
    algunas posibilidades. Al final, la decisión está en tus manos. Una
    explicación podría ser que las interpretaciones de las Runas son tan
    evocativas que cada una ofrece un consejo aplicable a algún aspecto de
    nuestra conciencia en cualquier momento del día. Sin embargo, mi experiencia
    personal con las Runas ha demostrado que cada lectura es única y contiene
    coincidencias sorprendentes que no pueden ser explicadas solo con esta
    teoría. En mi opinión, estos símbolos al azar pueden ser una forma en que
    nuestro yo superior y sabio nos transmite sus mensajes y consejos,
    recordándonos que la solución a cualquier adversidad se encuentra en nuestro
    interior.
  </p>
</div>

<app-footer></app-footer>
