<div>
  <p>Tu espacio runico</p>
  <a class="menu-desp" (click)="showMenu(mostrarMenu)"><img src="/assets/archivos/img/icons/wmenu.png"></a>
  <ul [ngClass]="mostrarMenu">
    <li><a routerLink="/home" (click)="hideMenu()">Inicio</a></li>
    <!-- <li><a routerLink="/historia" (click)="hideMenu()">Historia</a></li> -->
    <li><a routerLink="/tiradas" (click)="hideMenu()">Tiradas</a></li>
    <!-- <li><a routerLink="/rituales" (click)="hideMenu()">Rituales</a></li> -->
    <li><a routerLink="/consultas" (click)="hideMenu()">Consultas</a></li>
    <!-- <li><a routerLink="/productos" (click)="hideMenu()">Productos</a></li> -->
    <li><a routerLink="/contacto" (click)="hideMenu()">Contacto</a></li>
  </ul>
</div>
