<mat-toolbar id="body">
  <div id="div-p">
    <div id="div-hr">
      <p id="btn-t">Tu espacio Runico</p>
    </div>
    <div id="div-hl">
      <ul id="ul">
        <li id="btn-li" routerLink="/home">INICIO</li>
        <li id="btn-li" routerLink="/historia">HISTORIA</li>
        <li id="btn-li" routerLink="/tiradas">TIRADAS</li>
        <!-- <li id="btn-li" routerLink="/productos">RITUALES</li> -->
        <li id="btn-li" routerLink="/consultas">CONSULTAS</li>
        <!-- <li id="btn-li" routerLink="/productos">PRODUCTOS</li> -->
        <li id="btn-li" routerLink="/contacto">CONTACTO</li>
      </ul>
    </div>
  </div>
</mat-toolbar>
