#body {
  background-color: #3c535b;
  background-image: linear-gradient(#2b4049, #5c8694);
  color: #fff;
}

#btn-li:hover {
  background-color: #346382;
  background-image: linear-gradient(#2b4049, #5c8694);
  // border: #2b4049 solid 1px;
  text-decoration: underline;
  padding: 15px;
  margin: auto;
  font-size: medium;
}

#btn-li {
  margin: auto 5px;
  font-family: 'Charm', cursive;
}

#ul {
  list-style-type: none;
  display: inline-flex;
}

#div-p {
  display: inline-flex;
  width: 100%;
  height: auto;
}

#div-hr {
  margin: auto 1%;
}

#div-hl {
  margin-left: 43%;
}

#btn-t {
  font-family: 'Caesar Dressing', cursive;
  font-size: 34px;
  color: #fff;
}
